* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  background: #f2f9f2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container {
  height: 80%;
  width: 80%;
  background: #d9d9d9;
}
/* header part starts here  */
header ul {
  display: flex;
  list-style: none;
}
li {
  font-size: 15px;
  padding-left: 15px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}
.logo img {
  padding-left: 80px;
  margin-top: 15px;
  height: 50px;
}
.nav-right {
  padding-right: 60px;
}
.signup {
  background: rgb(243, 243, 45);
  border-radius: 5px;
}
/* header part ends here  */
/* content section starts here  */
.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* left content starts here  */
.content-left {
  padding-left: 70px;
  margin-top: 30px;
}
.lft-cntnt-fst {
  font-size: larger;
}
.lft-cntnt-snd {
  font-size: 45px;
  font-weight: bolder;
  margin-top: 20px;
}
.lft-cntnt-trd {
  font-size: 17px;
  margin-top: 30px;
  color: gray;
}
.lft-cntnt-frth {
  display: flex;
  margin-top: 30px;
}
input[type="email"] {
  font-size: 15px;
  font-weight: 400;
  padding-left: 25px;
}
input {
  height: 55px;
  width: 200px;
  border: none;
  border-radius: 10px;
}
::placeholder {
  padding-left: 10px;
  font-size: larger;
}
.btn {
  padding-left: 30px;
}
button {
  width: 200px;
  height: 55px;
  border: none;
  font-size: large;
  font-weight: 500;
  background: #000000;
  border-radius: 10px;
}
button a {
  color: #f0efe9;
}
/* left content ends here  */
/* right content starts here  */
.content-right {
  background-image: url(./Image/Untitled\ design.png);
  object-fit: contain;
  position: relative;
}
/* right-first box starts here  */
.right-fst {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 90px;
  padding-right: 10px;
  background: #f0efe9;
  border-radius: 10px;
  margin-top: 30px;
}
.icn-right {
  grid-column: span 3;
}
.right-icn img {
  width: 40px;
}
.right-icn {
  padding-left: 20px;
}
.right-icn-top {
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}
.right-icn-btm {
  color: gray;
}
/* right side first box ends here  */
/* right side secound box starts here  */
.right-snd {
  width: 280px;
  height: 110px;
  background: #f0efe9;
  margin-top: 10px;
  border-radius: 10px;
}
.prfsn {
  padding-left: 25px;
  font-weight: 800;
  padding-top: 20px;
}
.container2 {
  width: 100%;
  height: 19px;
  background: rgb(194, 199, 189);
  border-radius: 30px;
}

.eng {
  width: 35%;
  background-color: rgb(216, 128, 13);
  border-radius: 5px;
}
.container3 {
  width: 100%;
  height: 19px;
  background: rgb(194, 199, 189);
  border-radius: 30px;
}

.eng3 {
  width: 65%;
  background-color: rgb(29, 27, 25);
  border-radius: 5px;
}
.fst-graph {
  display: flex;
  margin-top: 5px;
  padding-right: 15px;
  padding-left: 10px;
}
p {
  font-size: 13px;
  font-weight: 700;
  color: gray;
  padding-right: 15px;
  padding-left: 20px;
}
/* right side secound box ends here  */
.right-3rd {
  position: relative;
  display: flex;
 align-items: center;
 padding-left: 20px;
 font-size: 12px;
  width: 220px;
  height: 60px;
  background: #000000;
  margin-top: 160px;
  margin-left: 280px;
  border-radius: 10px;
}
.icn-trd {
  display: flex;
  overflow: hidden;
  color: #f0efe9;
  
}
.snd-icon{
  color: #d9d9d9;
  padding-left: 40px;
 
}
.snd-icon img{
  height: 30px;
  width: 30px;
}
/* right content ends here  */
/* content section ends here  */
